@import "./1colors.scss";
@import "./2padding.scss";
@import "./3breakpoint.scss";
@import "./4typography.scss";



/* ======
   HEADER 
   ====== */

@mixin h1-largest {
  @include MetropolisSemiBold;
  font-size: 1.75rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h1-desktop {
  @include MetropolisSemiBold;
  font-size: 1.563rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h2-desktop {
  @include MetropolisSemiBold;
  font-size: 1.375rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h1-mobile {
  @include h2-desktop
}

@mixin h3-desktop {
  @include MetropolisSemiBold;
  font-size: 1.25rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h2-mobile {
  @include h3-desktop
}

@mixin h4-desktop {
  @include MetropolisSemiBold;
  font-size: 1.063rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h3-mobile {
  @include h4-desktop
}

@mixin h5-desktop {
  @include MetropolisSemiBold;
  font-size: 0.9375rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h4-mobile {
  @include h5-desktop
}

@mixin h6-desktop {
  @include MetropolisSemiBold;
  font-size: 0.875rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin h5-mobile {
  @include h6-desktop
}

@mixin h6-mobile {
  @include Metropolis;
  font-size: 0.75rem;
  line-height: 1.4em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}







/* ==============
   HEADER CLASSES 
   ============== */

.h1-largest {
  @include h1-largest;
  @media (max-width: $media-breakpoint-xs) {
    @include h1-mobile;
  }
}

.h6-smallest {
  @include h6-mobile;
}







/* ===========
   HEADER LINK 
   =========== */

.h1-largest-link {
  @include h1-largest;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h1-mobile;
  }
}
.h1-largest-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h1-link {
  @include h1-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h1-mobile;
  }
}
.h1-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h2-link {
  @include h2-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h2-mobile;
  }
}
.h2-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h3-link {
  @include h3-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h3-mobile;
  }
}
.h3-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h4-link {
  @include h4-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h4-mobile;
  }
}
.h4-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h5-link {
  @include h5-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h5-mobile;
  }
}
.h5-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h6-link {
  @include h6-desktop;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  @media (max-width: $media-breakpoint-xs) {
    @include h6-mobile;
  }
}
.h6-link:hover {
  margin-bottom: 0;
  border-bottom: 2px solid $color-black;
}

.h6-smallest-link {
  @include h6-mobile;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 1px;
}
.h6-smallest-link:hover {
  margin-bottom: 0;
  border-bottom: 1px solid $color-black;
}
