@import "./1colors.scss";
@import "./2padding.scss";
@import "./3breakpoint.scss";
@import "./4typography.scss";
@import "./5header.scss";


/* =========
   HTML TAGS 
   ========= */

html,
body {
  @include MetropolisLight;
  color: $color-black;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: $padding-sm;
  width: 100%;
}

h1 {
  @include h1-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h1-mobile;
  }
}

h2 {
  @include h2-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h2-mobile;
  }
}

h3 {
  @include h3-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h3-mobile;
  }
}

h4 {
  @include h4-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h4-mobile;
  }
}

h5 {
  @include h5-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h5-mobile;
  }
}

h6 {
  @include h6-desktop;
  @media (max-width: $media-breakpoint-xs) {
    @include h6-mobile;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}