@import './../Styles/theme.scss';
@import './../Styles/Fonts/metropolis.css';

.btn {
  @include h5-desktop;
  min-width: fit-content;
  text-align: center;
  align-content: center;
  margin: $padding-sm;

  &:focus { outline:0 }
  
  &.btn-lg {
    padding: $padding-sm $padding-lg;
    width: 13.438rem;
    height: 3.438rem;
  }

  &.btn-sm {
    padding: $padding-xs $padding-sm;
    width: 11.063rem;
    height:  2.375rem;
  }

  &.btn-primary-on {
    background-color: $color-black;
    border: 0.0625rem solid $color-black;
    color: $color-white;
    &:hover {
      background-color: $color-grey-7;
      border: 0.0625rem solid $color-grey-7;
      text-decoration-line: underline;
      transition: background-color 0.2s,border-color 0.2s
    }
  }

  &.btn-primary-off {
    background-color: $color-grey-7;
    border: 0.0625rem solid $color-grey-7;
    color: $color-grey-5;
    cursor: not-allowed;
  }

  &.btn-secondary-on {
    background-color: $color-white;
    border: $color-white;
    color: $color-black;
    &:hover {
      background-color: $color-blue;
      text-decoration-line: underline;
      transition: background-color 0.2s,border-color 0.2s
    }
  }

  &.btn-secondary-off {
    background-color: $color-white;
    border: $color-white;
    color: $color-grey-5;
    cursor: not-allowed;
  }

  &.btn-pink-on {
    background-color: $color-pink;
    border: 0.0625rem solid $color-pink;
    color: $color-white;
    &:hover {
      text-decoration-line: underline;
      transition: background-color 0.2s,border-color 0.2s
    }
  }

  &.btn-pink-off {
    background-color: $color-pink-light;
    border: 0.0625rem solid $color-pink-light;
    color: $color-grey-7;
    cursor: not-allowed;
  }

  &.btn-ghost-black-on {
    background-color: none;
    border: 0.0625rem solid $color-black;
    color: $color-black;
    &:hover {
      background-color: $color-black;
      color: $color-white;
      text-decoration-line: underline;
      transition: background-color 0.2s,border-color 0.2s
    }
  }

  &.btn-ghost-black-off {
    background-color: none;
    border: 0.0625rem solid $color-grey-7;
    color: $color-grey-7;
    cursor: not-allowed;
  }

  &.btn-ghost-white-on {
    background-color: none;
    border: 0.0625rem solid $color-white;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      text-decoration-line: underline;
      transition: background-color 0.2s,border-color 0.2s
    }
  }

  &.btn-ghost-white-off {
    background-color: none;
    border: 0.0625rem solid $color-grey-7;
    color: $color-grey-7;
    cursor: not-allowed;
  }
}
