@import "./font.scss";

.body-xxl {
  @include MetropolisLight;
  font-size: 1.35rem;
  line-height: 2.3125rem;
}

.body-xl {
  @include MetropolisLight;
  font-size: 1.125rem;
  line-height: 1.9375rem;
}

.body-lg {
  @include MetropolisLight;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.body-md {
  @include MetropolisLight;
  font-size: 0.78125rem;
  line-height: 1.3125rem;
}

.body-sm {
  @include MetropolisLight;
  font-size: 0.64125rem;
  line-height: 1.125rem;
}

.body-xs {
  @include MetropolisLight;
  font-size: 0.5425rem;
  line-height: 0.9375rem;
}