@import "./typography.scss";

@mixin body-xxl {
  @include MetropolisLight;
  font-size: 1.35rem;
  line-height: 2.3125rem;
}

@mixin body-xl {
  @include MetropolisLight;
  font-size: 1.125rem;
  line-height: 1.9375rem;
}

@mixin body-lg {
  @include MetropolisLight;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

@mixin body-md {
  @include MetropolisLight;
  font-size: 0.78125rem;
  line-height: 1.3125rem;
}

@mixin body-sm {
  @include MetropolisLight;
  font-size: 0.64125rem;
  line-height: 1.125rem;
}

@mixin body-xs {
  @include MetropolisLight;
  font-size: 0.5425rem;
  line-height: 0.9375rem;
}