@import "./typography.scss";

@mixin h1-largest {
  @include MetropolisSemiBold;
  font-size: 2.16rem;
  line-height: 3rem;
  letter-spacing: 0.54rem;
  text-transform: uppercase;
}

@mixin h1-desktop {
  @include MetropolisSemiBold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
}

@mixin h1-mobile {
  @include MetropolisSemiBold;
  font-size: 1.5rem;
  line-height: 2.125rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
}

@mixin h2-desktop {
  @include MetropolisSemiBold;
  font-size: 1.5rem;
  line-height: 2.125rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
}

@mixin h2-mobile {
  @include MetropolisSemiBold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

@mixin h3-desktop {
  @include MetropolisSemiBold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

@mixin h3-mobile {
  @include MetropolisSemiBold;
  font-size: 1.0419rem;
  line-height: 1.4375rem;
  letter-spacing: 0.2604rem;
  text-transform: uppercase;
}

@mixin h4-desktop {
  @include MetropolisSemiBold;
  font-size: 1.0419rem;
  line-height: 1.4375rem;
  letter-spacing: 0.2604rem;
  text-transform: uppercase;
}

@mixin h4-mobile {
  @include MetropolisSemiBold;
  font-size: 0.8681rem;
  line-height: 1.1875rem;
  letter-spacing: 0.2168rem;
  text-transform: uppercase;
}

@mixin h5-desktop {
  @include MetropolisSemiBold;
  font-size: 0.8681rem;
  line-height: 1.1875rem;
  letter-spacing: 0.2168rem;
  text-transform: uppercase;
}

@mixin h5-mobile {
  @include MetropolisSemiBold;
  font-size: 0.7231rem;
  line-height: 1rem;
  letter-spacing: 0.1806rem;
  text-transform: uppercase;
}

@mixin h6-desktop {
  @include MetropolisSemiBold;
  font-size: 0.7231rem;
  line-height: 1rem;
  letter-spacing: 0.1806rem;
  text-transform: uppercase;
}

@mixin h6-mobile {
  @include Metropolis;
  font-size: 0.6031rem;
  line-height: 0.875rem;
  letter-spacing: 0.1506rem;
  text-transform: uppercase;
}