@font-face {
  font-family: 'MetropolisBold';
  src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MetropolisBoldItalic';
  src: url('/fonts/metropolis-bolditalic-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MetropolisMedium';
  src: url('/fonts/metropolis-medium-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MetropolisMediumItalic';
  src: url('/fonts/metropolis-mediumitalic-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MetropolisItalic';
  src: url('/fonts/metropolis-regularitalic-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'MetropolisLight';
  src: url('/fonts/metropolis-light-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MetropolisLightItalic';
  src: url('/fonts/metropolis-lightitalic-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MetropolisSemiBold';
  src: url('/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MetropolisSemiBoldItalic';
  src: url('/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}